<ul>
{{comment}}

<form method = "POST" action = "">
Title<input type = "text" name = "title">
Author<input type = "text" name = "author">
ISBN<input type = "text" name = "isbn">
<input type = "submit">
</form>
</ul>