<!DOCTYPE>
<html class = "a">
<link>
<head>
<header class = "b">
	<link rel = "stylesheet" href = "http://localhost:3000/css/style.css">
	BOOK BUZZ
</header>
</head>
<body>
	<a href="http://localhost:3000/books">ALL BOOKS</a> 
	<a href="http://localhost:3000/books-new">CREATE A NEW BOOK</a> 
	{{{ body }}}
<p>Your session's total page visits: {{counter}}</p>
</body>
</html>



