<form method='GET' action='http://localhost:3000/vfs'>
<label for="os-select">Select a Linux OS:</label>
<select id="os-select" name = "select">
    <option value="">--Please choose an option--</option>
    <option value="Ubuntu">Ubuntu</option>
    <option value="Debian">Debian</option>
    <option value="Redhat">Red Hat</option>
</select>
<input type='submit'>
</form>
